// Backgrounds
$general-background: #F0F0F0;
$section-background: #FFF;

// Solid
$primary-solid-1: #53963E;
$primary-solid-2: #7F3C6C;
$primary-solid-3: #3394B6;
$primary-solid-4: #D2B069;


// Greyscale
$basic-white: #FFF;
$mild-grey: #C5C5C5;
$soft-grey: #F0F0F0;

// Titles
$primary-title-1: #8CB877;
$primary-title-2: #834272;
$primary-title-3: #2F6686;
$primary-title-4: #FFF;

$secondary-title-1: #D02954;
$secondary-title-2: #499CBB;

// Text
$dark-grey-text: #232323;
$light-grey-text: #787878;
$light-yellow-text: #F9F4A9;
$dark-yellow-text: #CEB48D