// Backgrounds
$general-background: #F0F0F0;
$section-background: #FFF;

// Greyscale
$soft-grey: #CCC;

// Titles
$primary-title-1: #8CB877;
$primary-title-2: #834272;
$primary-title-3: #2F6686;
$primary-title-4: #FFF;

$secondary-title-1: #D02954;
$secondary-title-2: #499CBB;

// Text
$dark-grey-text: #232323;
$light-grey-text: #787878;