@media (min-width: 992px) and (max-width: 1199px) {
  /****************************************************/
  /*                   General                        */
  /****************************************************/


  /****************************************************/
  /*                   Homepage                       */
  /****************************************************/ 

  // Header Jumbotron
  #main-banner {
    background: transparent url('../img/yuri-baptista-jumbotron-1.jpg') no-repeat 0 -132px;
    background-size: 100% auto;
    margin-bottom: -330px;
    padding-top: 204px;

    h1 {
      font-size: 84px;
      margin-bottom: 18px;
    }

    hr {
      margin-bottom: 18px;
    }

    hr:after {
      content:"........................................";
    }

    h2 {    
      font-size: 42px;
    }
  }


  // About Me
  #about-me {
    height: 665px;
    max-height: 665px;
    margin-bottom: 90px;
    .row {
      aside {
        background: transparent url('../img/sprite-1.png') no-repeat -302px -803px;
        background-size: 1557px auto;
        img {
          width: 363px;
          height: 515px;
          display: block;
          position: absolute;
          top: 76px;
          left: 76px;
        }
      }

      article {
        padding-top: 48px;
        header {
          margin: 0 0 9px 0;
          h3 {
            font-size: 30px;
            margin: 0 0 9px 0;
          }
          p {
            font-size: 15px;
          }
          p:before {
            margin-bottom: 3px;
          }
          p:after {
            margin-top: 3px;
          }
        }
        section {
          p {
            font-size: 15px;
            margin: 0;
          }
          ul {
            margin: 0 0 6px 0;
            li {
              margin: 0 0 6px 0;
              span.title {
                font-size: 14px;
              }
              span.institution {
                font-size: 13px;
              }
              span.date-and-place {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  // Services
  #services {
    height: 438px;
    max-height: 438px;
    margin-bottom: 90px;
    .row {
      article {
        background-size: 1520px auto;
        .box-shadow-small {
          header {
            margin: 0 0 51px 0;
            img {
              height: 195px;
              margin: 0 0 24px 0;
            }
          }
          p {
            font-size: 16px;
          }
        }
      }
      .makeup {
        background-position: -297px -1503px;
      }
      .hairdo {
        background-position: -614px -1503px;
      }
      .workshops {
        background-position: -930px -1503px;
      }
    }
  }

  /****************************************************/
  /*                  Portfolio                       */
  /****************************************************/ 
  #portfolio-body {
    #section-header {
      height: 89px;
      h1 {
        margin: 28px auto;
        font-size: 33px;
      }
      .decoration {
        width: 333px;
        height: 89px;
        background: transparent url('../img/sprite-2.png') no-repeat;
        background-size: 1520px;
      }
      .decoration.left {
        background-position: 0 -101px;
      }
      .decoration.right {
        background-position: -1188px -101px;
      }
    }

    #portfolio {
      padding: 60px 0;
    }
  }
}