@media (min-width: 768px) and (max-width: 991px){
  /****************************************************/
  /*                   General                        */
  /****************************************************/ 

  /****************************************************/
  /*                  Main Menu                       */
  /****************************************************/ 
  #top-navbar {
    .navbar-wrap {
      .nav.navbar-nav {
        li {
          min-width: 88px;
          max-width: 88px;
          height: 90px;
          display: inline-block;
          float: none;
          font-size: 13px;
          font-weight: bold;
          line-height: 90px;
          margin: 0 6px;
        }
        li.services {
          margin: 0 114px 0 6px;
        }
        li.portfolio {
          margin: 0 6px 0 114px;
        }
        li.home.bullet:after {
          right: -6px;
        }
        li.portfolio.bullet:after {
          right: -14px;
        }
        li.selected {
          border-top: 4px solid #FFF;
        }
      }
    }
  }

  /****************************************************/
  /*                   Homepage                       */
  /****************************************************/ 

  // Header Jumbotron
  #main-banner {
    height: 387px;
    margin-bottom: 24px;
    padding-top: 225px;

    h1 {
      font-size: 72px;
      margin-bottom: 12px;
    }

    hr {
      margin-bottom: 12px;
    }

    hr:after {
      content: "...................................";
    }

    h2 {
      font-size: 36px;
    }
  }

  // About Me
  #about-me {
    height: 530px;
    max-height: 530px;
    margin-bottom: 24px;
    .row {
      aside {
        background: transparent url('../img/sprite-1.png') no-repeat -243px -641px;
        background-size: 1243px;
        position: relative;
        img {
          width: 290px;
          height: 412px;
          display: block;
          position: absolute;
          top: 60px;
          left: 60px;
        }
      }
      article {
        padding-top: 42px;
        header {
          margin: 0 0 21px 0;
          h3 {
            font-size: 33px;
            line-height: 1em;
            margin: 0 0 21px 0;
            padding: 0 15px;
          }
          p {
            font-size: 14px;
          }
          p:before {
            margin-bottom: 12px;
          }
          p:after {
            margin-top: 12px; 
          }
        }
        section {
          margin: 0 0 42px 0;
          p {
            font-size: 13px;
          }
        }
        footer {
          .signature {
            font-size: 33px;
            line-height: 1.4em;
          }
          .title {
            font-size: 11px;
          }
        }
      }
    }
  }

  // Services
  #services {
    height: 331px;
    max-height: 331px;
    margin-bottom: 24px;
    .row {
      article {
        background: transparent url('../img/sprite-1.png') no-repeat content-box;
        background-size: 1142px;
        .box-shadow-small {
          header {
            margin: 0 0 51px 0;
            img {
              height: 147px;
              margin: 0 0 21px 0;
            }
            h3 {
              font-size: 24px;
            }
          }
          p {
              font-size: 15px;
          }
        }
      }
      .makeup {
        background-position: -223px -1129px;
      }
      .hairdo {
        background-position: -461px -1129px;
      }
      .workshops {
        background-position: -699px -1129px;
      }
      article:after {
        width: calc(100% - 30px);
        height: 6px;
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        bottom: 0;
      }
      article.makeup:after {
        background-color: $primary-solid-1;
      }
      article.hairdo:after {
        background-color: $primary-solid-2;
      }
      article.workshops:after {
        background-color: $primary-solid-3;
      }
    }
  }

  // Contact
  #contact {
    background-image: linear-gradient(rgba(207, 189, 106,0.85), rgba(207, 189, 106,0.85)), url('../img/yuri-baptista-utensilios-2.jpg');
    background-repeat: no-repeat;  
    background-position: 0 0;
    background-size: cover;
    margin-bottom: 24px;
    padding: 76px 60px;
    header {
      margin-bottom: 46px;
      h3 {
        font-family: $font-titles;
        font-size: 45px;
        font-weight: bold;
        line-height: 1.2em;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        .city {
          color: $basic-white;
        }
        .country {
          color: $light-yellow-text;
        }
      }
    }
    article {
      margin-bottom: 61px;
      h3 {
        color: $light-yellow-text;
        font-size: 18px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 9px;
        text-align: center;
        text-transform: uppercase;
      }
      p {
        color: $basic-white;
        font-size: 35px;
        font-family: $font-subtitles;
        text-align: center;
      }
    }
    article:before {
      width: 35%;
      max-width: 35%;
      height: 11px;
      color: $basic-white;
      content: '..........................................................................................';
      display: block;
      font-family: serif;
      font-size: 29px;
      letter-spacing: 6px;
      line-height: 0;
      margin: 0 auto 51px auto;
      overflow: hidden;    
    }
    form {
      .row {
        fieldset {
          .form-control {
            height: 72px;
            font-size: 18px;
            letter-spacing: 1px;
          }
          textarea.form-control {
            height: 300px;
            font-size: 18px !important;
            letter-spacing: 1px !important;
          }
          .form-control::-webkit-input-placeholder,
          .form-control::-moz-placeholder,
          .form-control:-ms-input-placeholder,
          .form-control:-moz-placeholder {
            color: $dark-yellow-text;
          }
        }
        fieldset.user-data {
          margin-bottom: 15px;
        }
        fieldset.submit {
          text-align: center;
        }
      }
    }
  }

  /****************************************************/
  /*                  Portfolio                       */
  /****************************************************/ 
  #portfolio-body {
    #decorative-header {
      height: 90px;
      background: transparent url('../img/yuri-baptista-jumbotron-2.jpg') no-repeat 0 -258px;
      background-size: 100% auto;
    }

    #section-header {
      height: 111px;
      background: $basic-white;    
      position: relative;
      h1 {
        color: $secondary-title-1;
        margin: 37px auto;
        font-family: $font-titles;
        font-size: 35px;
        font-weight: 600;
        line-height: 1em;
      }
      .decoration {
        width: 414px;
        height: 111px;
        background: transparent url('../img/sprite-2.png') no-repeat;
        position: absolute;
        top: 0;
      }
      .decoration.left {
        background-position: 0 -129px;
        left: 0;
      }
      .decoration.right {
        background-position: -1505px -129px;
        right: 0;
      }
    }

    #portfolio {
      padding: 90px 0;
      ul.portfolio-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        a {
          display: block;
          height: 328px;
          img {
            width: 100%;
            height: 100%;          
            background-color: $light-grey-text;
            cursor: pointer;
            display: inline-block;
            margin: auto;
          }        
        }
        a.landscape {
          width: 48%;
          flex-grow: 2;
        }
        a.portrait {
          width: 24%;
          flex-grow: 1;
        }
      }
    }

    #lean_content_picture {
      display: none;
      top: 50% !important;
      img {
        width: 100%;
        display: block;
        margin: 0 auto;
      }
      p {
        width: 100%;
        @include transparent-background-color(#000, 0, 0, 0, 0.5);
        color: $basic-white;
        font-family: $font-texts;
        font-size: 15px;
        line-height: 1em;
        margin: 0;
        padding: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: left;
      }
      .close-modal {
        width: 21px;
        height: 21px;
        display: block;
        border-radius: 10px;
        @include transparent-background-color(#FFF, 255, 255, 255, 0.65);
        @include transparent-color(#000, 0, 0, 0, 0.5);
        cursor: pointer;
        font-size: 21px;
        font-weight: 800;
        line-height: 0.85em;
        position: absolute;
        right: 3px;
        top: 3px;
        text-align: center;
      }
    }

    #lean_content_picture.portrait {
      width: 33%;
      margin-top: -322px;
    }

    #lean_content_picture.landscape {
      width: 72%;
      margin-top: -311px;
    }
  }

  /****************************************************/
  /*                    Footer                        */
  /****************************************************/ 
  #page-footer {
    padding-top: 33px;
    padding-bottom: 33px;
    aside.signature {
      p {
        height: 69px;
        width: 270px;
        background: transparent url('../img/sprite-1.png') no-repeat -826px -6287px;
        color: $secondary-title-1;
        font-family: $font-titles;
        font-size: 35px;
        line-height: 1.7em;
        margin-bottom: 0;
        position: relative;
        text-align: center;
        img {
          width: 57px;
          position: absolute;
          top: 53px;
          left: 112px;
        }
      }
    }
    .extra-info {
      font-size: 11px;
      line-height: 5.8em;
    }
  }
}