@media (min-width: 768px) and (max-width: 991px){
  /****************************************************/
  /*                   General                        */
  /****************************************************/ 

  /****************************************************/
  /*                  Main Menu                       */
  /****************************************************/ 
  #top-navbar {
    .navbar-wrap {
      .nav.navbar-nav {
        li {
          min-width: 88px;
          max-width: 88px;
          height: 90px;
          display: inline-block;
          float: none;
          font-size: 13px;
          font-weight: bold;
          line-height: 90px;
          margin: 0 6px;
        }
        li.services {
          margin: 0 114px 0 6px;
        }
        li.portfolio {
          margin: 0 6px 0 114px;
        }
        li.home.bullet:after {
          right: -6px;
        }
        li.portfolio.bullet:after {
          right: -14px;
        }
        li.selected {
          border-top: 4px solid #FFF;
        }
      }
    }
  }

  /****************************************************/
  /*                   Homepage                       */
  /****************************************************/ 

  // Header Jumbotron
  #main-banner {
    height: 336px;
    background: transparent url('../img/yuri-baptista-jumbotron-1.jpg') no-repeat 0 -132px;
    background-size: 100% auto;
    margin-bottom: 24px;
    padding-top: 162px;

    h1 {
      font-size: 65px;
      margin-bottom: 12px;
    }

    hr {
      margin-bottom: 12px;
    }

    hr:after {
      content: "................................";
    }

    h2 {
      font-size: 32px;
    }
  }

  // About Me
  #about-me {
    height: 530px;
    max-height: 530px;
    margin-bottom: 24px;
    .row {
      aside {
        background: transparent url('../img/sprite-1.png') no-repeat -243px -641px;
        background-size: 1243px;
        position: relative;
        img {
          width: 290px;
          height: 412px;
          display: block;
          position: absolute;
          top: 60px;
          left: 60px;
        }
      }
      article {
        padding-top: 42px;
        header {
          margin: 0 0 9px 0;
          h3 {
            font-size: 27px;
            line-height: 1em;
            margin: 0 0 9px 0;
            padding: 0 9px;
          }
          p {
            padding: 0 9px;
            font-size: 13px;
          }
          p:before {
            margin-bottom: 3px;
          }
          p:after {
            margin-top: 3px; 
          }
        }
        section {
          p {
            font-size: 12px;
            margin: 0 0 3px 0;
          }
          ul {
            margin: 0 0 8px 0;
            li {
              margin: 0 0 3px 0;
              span.title {
                font-size: 11px;
              }
              span.institution {
                font-size: 10px;
              }
              span.date-and-place {
                font-size: 9px;
              }
            }
          }
        }
        footer {
          .signature {
            font-size: 24px;
            line-height: 1em;
            margin: 0 0 3px 0;
          }
          .title {
            font-size: 11px;
          }
        }
      }
    }
  }

  // Services
  #services {
    height: 331px;
    max-height: 331px;
    margin-bottom: 24px;
    .row {
      article {
        background: transparent url('../img/sprite-1.png') no-repeat content-box;
        background-size: 1142px;
        .box-shadow-small {
          header {
            margin: 0 0 39px 0;
            img {
              height: 147px;
              margin: 0 0 21px 0;
            }
            h3 {
              font-size: 24px;
            }
          }
          p {
              font-size: 12px;
              line-height: 1.3em;
          }
        }
      }
      .makeup {
        background-position: -223px -1129px;
      }
      .hairdo {
        background-position: -461px -1129px;
      }
      .workshops {
        background-position: -699px -1129px;
      }
    }
  }

  /****************************************************/
  /*                  Portfolio                       */
  /****************************************************/ 
  #portfolio-body {
    #decorative-header {
      height: 90px;
      background: transparent url('../img/yuri-baptista-jumbotron-1.jpg') no-repeat 0 -115px;
      background-size: 100% auto;
    }

    #section-header {
      height: 65px;    
      h1 {
        margin: 18px auto;
        font-size: 27px;
        line-height: 1em;
      }
      .decoration {
        width: 249px;
        height: 65px;
        background: transparent url('../img/sprite-2.png') no-repeat;
        background-size: 1146px;
      }
      .decoration.left {
        background-position: 0 -78px;
        left: 0;
      }
      .decoration.right {
        background-position: -896px -78px;
        right: 0;
      }
    }

    #portfolio {
      ul.portfolio-list {
        a {
          height: 250px;
        }
      }
    }

    #lean_content_picture {
      display: none;
      top: 50% !important;
      img {
        width: 100%;
        display: block;
        margin: 0 auto;
      }
      p {
        width: 100%;
        @include transparent-background-color(#000, 0, 0, 0, 0.5);
        color: $basic-white;
        font-family: $font-texts;
        font-size: 15px;
        line-height: 1em;
        margin: 0;
        padding: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: left;
      }
      .close-modal {
        width: 21px;
        height: 21px;
        display: block;
        border-radius: 10px;
        @include transparent-background-color(#FFF, 255, 255, 255, 0.65);
        @include transparent-color(#000, 0, 0, 0, 0.5);
        cursor: pointer;
        font-size: 21px;
        font-weight: 800;
        line-height: 0.85em;
        position: absolute;
        right: 3px;
        top: 3px;
        text-align: center;
      }
    }

    #lean_content_picture.portrait {
      width: 33%;
      top: 21px !important;
    }

    #lean_content_picture.landscape {
      width: 72%;
      top: 21px !important;
    }
  }

  /****************************************************/
  /*                    Footer                        */
  /****************************************************/ 
  #page-footer {
    padding-top: 33px;
    padding-bottom: 33px;
    aside.signature {
      p {
        height: 69px;
        width: 270px;
        background: transparent url('../img/sprite-1.png') no-repeat -826px -6287px;
        color: $secondary-title-1;
        font-family: $font-titles;
        font-size: 35px;
        line-height: 1.7em;
        margin-bottom: 0;
        position: relative;
        text-align: center;
        img {
          width: 57px;
          position: absolute;
          top: 53px;
          left: 112px;
        }
      }
    }
    .extra-info {
      font-size: 11px;
      line-height: 5.8em;
    }
  }
}