@media (min-width: 768px) and (max-width: 1199px) {
  /****************************************************/
  /*                   General                        */
  /****************************************************/


  /****************************************************/
  /*                   Homepage                       */
  /****************************************************/ 

  // Header Jumbotron
  #main-banner {
    background: transparent url('../img/yuri-baptista-jumbotron-2.jpg') no-repeat 0 -51px;
    background-size: 100% auto;
    margin-bottom: -330px;
    padding-top: 303px;

    h1 {
      font-size: 84px;
      margin-bottom: 18px;
    }

    hr {
      margin-bottom: 18px;
    }

    hr:after {
      content:"........................................";
    }

    h2 {    
      font-size: 42px;
    }
  }


  // About Me
  #about-me {
    height: 665px;
    max-height: 665px;
    margin-bottom: 90px;
    .row {
      aside {
        background: transparent url('../img/sprite-1.png') no-repeat -302px -803px;
        background-size: 1557px auto;
        img {
          width: 363px;
          height: 515px;
          display: block;
          position: absolute;
          top: 76px;
          left: 76px;
        }
      }

      article {
        padding-top: 48px;
        header {
          margin: 0 0 30px 0;
          h3 {
            font-size: 54px;
            margin: 0 0 30px 0;
          }
          p {
            font-size: 18px;
          }
          p:before {
            margin-bottom: 16px;
          }
          p:after {
            margin-top: 16px;
          }
        }
        section {
          margin: 0 0 57px 0;
        }
      }
    }
  }

  // Services
  #services {
    height: 438px;
    max-height: 438px;
    margin-bottom: 90px;
    .row {
      article {
        background-size: 1520px auto;
        .box-shadow-small {
          header {
            margin: 0 0 51px 0;
            img {
              height: 195px;
              margin: 0 0 24px 0;
            }
          }
        }
      }
      .makeup {
        background-position: -297px -1503px;
      }
      .hairdo {
        background-position: -614px -1503px;
      }
      .workshops {
        background-position: -930px -1503px;
      }
    }
  }
}