// Create variables with the colors

@import 'mixins';
@import 'fonts';
@import 'colours'; 

/****************************************************/
/*                   General                        */
/****************************************************/ 
body {
  background-color: $general-background;
  color: $light-grey-text;
}


// Forms
.form-control {
  background-color: $soft-grey;
  border-color: $soft-grey;
  border-radius: 0;
}

textarea.form-control {
  background-color: $soft-grey !important;
}

.form-control:active,
.form-control:focus {
  border-color: $primary-solid-4;
  outline-color: $primary-solid-4;
}

.btn {
  border-radius: 0;
  padding: 12px 18px;
}

.btn.btn-primary {
  border-color: $primary-solid-2;
  background-color: $primary-solid-2;
}

.btn.btn-primary:hover {
  border-color: darken($primary-solid-2, 10%);
  background-color: darken($primary-solid-2, 10%);
}

.btn.btn-primary:active,
.btn.btn-primary:focus, {
  border-color: darken($primary-solid-2, 12%);
  background-color: darken($primary-solid-2, 12%);
}

// Helpers
.box-shadow {  
  -webkit-box-shadow: 2px 2px 8px 1px rgba(50, 50, 50, 0.6), -2px 2px 8px 1px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    2px 2px 8px 1px rgba(50, 50, 50, 0.6), -2px 2px 8px 1px rgba(50, 50, 50, 0.6);
  box-shadow:         2px 2px 8px 1px rgba(50, 50, 50, 0.6), -2px 2px 8px 1px rgba(50, 50, 50, 0.6);
}

.box-shadow-small {  
  -webkit-box-shadow: 2px 2px 4px 1px rgba(50, 50, 50, 0.5), -2px 2px 4px 1px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    2px 2px 4px 1px rgba(50, 50, 50, 0.5), -2px 2px 4px 1px rgba(50, 50, 50, 0.5);
  box-shadow:         2px 2px 4px 1px rgba(50, 50, 50, 0.5), -2px 2px 4px 1px rgba(50, 50, 50, 0.5);
}

#lean_overlay {
  width:100%;
  height:100%;  
  background: #000;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

#lean_content {
  display: none;
}

/****************************************************/
/*                  Main Menu                       */
/****************************************************/ 
#top-navbar {
  max-height: 90px;
  @include transparent-background-color(#000, 0, 0, 0, 0.45);
  border: none;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
  -moz-box-shadow:    0px 2px 2px 0px rgba(0,0,0,0.6);
  box-shadow:         0px 2px 2px 0px rgba(0,0,0,0.6);
  margin: 0;
  z-index: 10;
  .navbar-text {
    width: 204px;
    height: 54px;
    border: 6px solid #FFF;
    border-style: solid solid none solid;
    cursor: default;
    color: #FFF;
    display: inline-block;
    font-family: $font-titles;
    font-size: 21px;
    float: none;
    margin: 0 0 0 -102px;
    padding: 6px;
    position: absolute;
    top: 12px;
    left: 50%;
    text-align: center; 
    text-transform: uppercase;

    img {
      width: 45px;
      position: absolute;
      top: 34px;
      left: 73px;
    }

    .border-bottom-left,
    .border-bottom-right {
      width: 75px;
      height: 6px;
      background-color: #FFF;
      display: block;
      position: absolute;
      top: 48px;
    }

    .border-bottom-left {      
      left: -6px;
    }

    .border-bottom-right {
      right: -6px;
    }
  }
  .navbar-wrap {
    text-align: center;
    .nav.navbar-nav {
      height: 90px;
      display: inline-block;
      float: none;
      margin: 0 60px;
      li {
        min-width: 102px;
        max-width: 102px;
        height: 90px;
        display: inline-block;
        float: none;
        font-size: 16px;
        font-weight: bold;
        line-height: 90px;
        margin: 0 18px;
        a,
        a:link,
        a:visited {
          color: #FFF;
          cursor: pointer;
          display: inline-block;
          padding: 0;
          text-transform: uppercase;
        }
        a:hover,
        a:active,
        a:focus {
          @include transparent-color(#FFF, 255, 255, 255, 0.7);
        }
      }
      li.services {
        margin: 0 141px 0 18px;
      }
      li.portfolio {
        margin: 0 18px 0 141px;
      }
      li.bullet:after {
        content:".";
        @include transparent-color(#FFF, 255, 255, 255, 0.7);
        display: block;
        font-family: serif;
        font-size: 25px;
        position: absolute;
        top: -6px;
      }
      li.home.bullet:after {
        right: -21px;
      }
      li.portfolio.bullet:after {
        right: -27px;
      }
      li.selected {
        border-top: 4px solid #FFF;
      }
    }
  }
}

/****************************************************/
/*                   Homepage                       */
/****************************************************/ 

// Header Jumbotron
#main-banner {
  height: 732px;
  background: transparent url('../img/yuri-baptista-jumbotron-1.jpg') no-repeat 0 -183px;
  background-size: 100% auto;
  margin-bottom: -149px;
  padding-top: 279px;

  .heading {
    color: #FFF;
    font-family: $font-titles;
    margin-top: 0;
    text-align: center;    
  }

  h1 {
    font-size: 111px;    
    margin-bottom: 21px;
    line-height: 0.9em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
  }

  hr {
    height: 15px;
    border: none;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 21px;
    line-height: 4px;
    overflow: hidden;
  }

  hr:after {
    content:".................................................";
    color: #FFF;
    display: block;
    font-family: serif;
    font-size: 25px;
    letter-spacing: 6px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
  }

  h2 {    
    font-size: 48px;
    font-weight: 600;
    font-style: italic;
    line-height: 0.9em;
    margin-bottom: 0;
    text-shadow: 1px 2px 2px #000000;
  }
}

// About Me
#about-me {
  height: 818px;
  max-height: 818px;
  background-color: $section-background;
  margin-bottom: 90px;
  .row {
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    aside {
      height: 100%;
      background: transparent url('../img/sprite-1.png') no-repeat -375px -990px;
      position: relative;
      img {
        width: 450px;
        height: 640px;
        display: block;
        position: absolute;
        top: 90px;
        left: 90px;
      }
    }

    article {
      padding-top: 70px;
      a {
        color: $light-grey-text;
        cursor: pointer;
        text-decoration: underline;
      }
      header {
        margin: 0 0 21px 0;
        h3 {
          color: $primary-title-1;
          font-family: $font-titles;
          font-size: 48px;
          font-weight: bold;
          line-height: 1em;
          margin: 0 0 21px 0;
          padding: 0 15px;
          text-transform: uppercase;
        }
        p {
          color: $dark-grey-text;
          font-size: 17px;
          font-style: italic;
          font-weight: 300;
          line-height: 1.2em;
          margin: 0;
          padding: 0 15px;
        }
        p:before,
        p:after {
          width: calc(100% + 15px);
          max-width: calc(100% + 15px);
          height: 10px;
          color: $mild-grey;
          content: '.................................................................................';
          display: block;
          font-family: serif;
          font-size: 18px;
          letter-spacing: 3px;
          line-height: 1px;
          margin: 0 -15px;
          overflow: hidden; 
        }
        p:before {
          margin-bottom: 6px;
        }
        p:after {
          margin-top: 6px;
        }
      }
      section {
        height: 100%;
        max-height: 100%;
        margin: 0 0 6px 0;
        p {
          color: $primary-title-3;
          font-family: $font-subtitles;
          font-size: 16px;
          font-weight: bold;
          margin: 0 0 6px;
          line-height: 1em;
        }
        ul {
          list-style: none;
          margin: 0 0 12px 0;
          padding: 0;
          li {
            margin: 0 0 12px 0;
            span {
              display: block;
            }
            span.title {
              font-weight: bold;
              font-size: 15px;
            }
            span.institution {
              font-size: 14px;
            }
            span.date-and-place {
              font-size: 13px;
            }
          }
        }
      }
      footer {
        .signature {
          color: $secondary-title-1; 
          font-family: $font-titles;
          font-size: 29px;
          line-height: 1.2em;
          margin: 0;
        }
        .title {
          color: $secondary-title-2;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}

// Services
#services {
  height: 552px;
  max-height: 552px;
  margin-bottom: 90px;
  .row {
    height: 100%;
    max-height: 100%;
    article {
      height: 100%;
      max-height: 100%;
      background: transparent url('../img/sprite-1.png') no-repeat content-box;
      .box-shadow-small {
        height: 100%;
        max-height: 100%;
        header {
          margin: 0 0 51px 0;
          img {
            width: 100%;
            height: 247px;
            display: block;
            margin: 0 0 48px 0;
          }
          h3 {
            color: $basic-white;
            font-family: $font-titles;
            font-weight: bold;
            font-size: 33px;
            line-height: 1.2em;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
          }
        }
        p {
            color: $basic-white;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5em;
            padding: 0 33px;
            text-align: center;
        }
      }
    }
    .makeup {
      background-position: -375px -1899px;
    }
    .hairdo {
      background-position: -775px -1899px;
    }
    .workshops {
      background-position: -1175px -1899px;
    }
    article:after {
      width: calc(100% - 30px);
      height: 6px;
      content: '';
      display: block;
      position: absolute;
      left: 15px;
      bottom: 0;
    }
    article.makeup:after {
      background-color: $primary-solid-1;
    }
    article.hairdo:after {
      background-color: $primary-solid-2;
    }
    article.workshops:after {
      background-color: $primary-solid-3;
    }
  }
}

// Social Networks
#social-networks {
  background-color: $section-background;
  margin-bottom: 90px;
  padding-top: 18px;
  padding-bottom: 18px;

  h3 {
    color: $secondary-title-1;
    font-family: $font-titles;
    font-size: 33px;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 24px 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
  }

  #social-widget-facebook {
    .fb-page {
      display: none;
    }

    .fb-page.fb_iframe_widget {
      display: block;
    }

    .fb-page, .fb-page iframe[style], .fb-page span {
      width: 100% !important;
    }
  }
  #social-widget-instagram {
    iframe {
      margin: 0 0 9px 0;
    }

    h4 {
      height: 28px;
      background: transparent url('../img/instagram-logo.jpg') no-repeat 0 0;
      background-size: 28px 28px;
      font-size: 19px;
      line-height: 28px;
      margin: 0;
      padding: 0 0 0 36px;
      span {
        
      }
      a {
        height: 30px;
        font-weight: 500;
      }
      a:hover,
      a:active,
      a:focus {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  #social-widget-twitter {
    a.twitter-timeline {
      display: none;
    }

    iframe {
      border: 1px solid $soft-grey !important;
      border: 1px solid rgba(15,70,100,.12) !important;
    }
  }

  

}

// Contact
#contact {
  background-image: linear-gradient(rgba(207, 189, 106,0.85), rgba(207, 189, 106,0.85)), url('../img/yuri-baptista-utensilios-1.jpg');
  background-repeat: no-repeat;  
  background-position: 0 0;
  background-size: cover;
  margin-bottom: 90px;
  padding: 76px 60px;
  header {
    margin-bottom: 46px;
    h3 {
      font-family: $font-titles;
      font-size: 45px;
      font-weight: bold;
      line-height: 1.2em;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      .city {
        color: $basic-white;
      }
      .country {
        color: $light-yellow-text;
      }
    }
  }
  article {
    margin-bottom: 61px;
    h3 {
      color: $light-yellow-text;
      font-size: 18px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 9px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      color: $basic-white;
      font-size: 35px;
      font-family: $font-subtitles;
      text-align: center;
    }
  }
  article:before {
    width: 35%;
    max-width: 35%;
    height: 11px;
    color: $basic-white;
    content: '..........................................................................................';
    display: block;
    font-family: serif;
    font-size: 29px;
    letter-spacing: 6px;
    line-height: 0;
    margin: 0 auto 51px auto;
    overflow: hidden;    
  }
  form {
    .row {
      fieldset {
        .form-control {
          height: 72px;
          font-size: 18px;
          letter-spacing: 1px;
        }
        textarea.form-control {
          height: 300px;
          font-size: 18px !important;
          letter-spacing: 1px !important;
        }
        .form-control::-webkit-input-placeholder,
        .form-control::-moz-placeholder,
        .form-control:-ms-input-placeholder,
        .form-control:-moz-placeholder {
          color: $dark-yellow-text;
        }
      }
      fieldset.user-data {
        margin-bottom: 15px;
      }
      fieldset.submit {
        text-align: center;
      }
    }
  }
}

/****************************************************/
/*                  Portfolio                       */
/****************************************************/ 
#portfolio-body {
  #decorative-header {
    height: 90px;
    background: transparent url('../img/yuri-baptista-jumbotron-1.jpg') no-repeat 0 -90px;
    background-size: 100% auto;
  }

  #section-header {
    height: 111px;
    background: $basic-white;    
    position: relative;
    h1 {
      color: $secondary-title-1;
      margin: 37px auto;
      font-family: $font-titles;
      font-size: 35px;
      font-weight: 600;
      line-height: 1em;
    }
    .decoration {
      width: 414px;
      height: 111px;
      background: transparent url('../img/sprite-2.png') no-repeat;
      position: absolute;
      top: 0;
    }
    .decoration.left {
      background-position: 0 -129px;
      left: 0;
    }
    .decoration.right {
      background-position: -1505px -129px;
      right: 0;
    }
  }

  #portfolio {
    padding: 90px 0;
    div.portfolio-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      a {
        display: block;
        height: 390px;
        img {
          width: 100%;
          height: 100%;          
          background-color: $light-grey-text;
          cursor: pointer;
          display: inline-block;
          margin: auto;
        }        
      }
      a.landscape {
        width: 48%;
        flex-grow: 2;
      }
      a.portrait {
        width: 24%;
        flex-grow: 1;
      }
    }
  }

  #lean_content_picture {
    display: none;
    top: 50% !important;
    img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    p {
      width: 100%;
      @include transparent-background-color(#000, 0, 0, 0, 0.75);
      color: $basic-white;
      font-family: $font-texts;
      font-size: 16px;
      line-height: 1.5em;
      margin: 0;
      padding: 15px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: left;
      a,
      a:link,
      a:visited {
        color: $secondary-title-1;
        font-weight: bold;
      }
      a:hover,
      a:active,
      a:focus {
        cursor: pointer;
      }

    }
    .close-modal {
      width: 21px;
      height: 21px;
      display: block;
      border-radius: 10px;
      @include transparent-background-color(#FFF, 255, 255, 255, 0.65);
      @include transparent-color(#000, 0, 0, 0, 0.5);
      cursor: pointer;
      font-size: 21px;
      font-weight: 800;
      line-height: 0.85em;
      position: absolute;
      right: 3px;
      top: 3px;
      text-align: center;
    }
  }

  #lean_content_picture.portrait {
    width: 33%;
    top: 21px !important;
  }

  #lean_content_picture.landscape {
    width: 72%;
    top: 21px !important;
  }

  #lean_content_picture.square {
    width: 55%;
  }

  #lean_content_picture.large {
    width: 66%;
  }
}

/****************************************************/
/*                    Footer                        */
/****************************************************/ 
#page-footer {
  background-color: $basic-white;
  padding-top: 33px;
  padding-bottom: 33px;
  aside.signature {
    p {
      height: 69px;
      width: 270px;
      background: transparent url('../img/sprite-1.png') no-repeat -826px -6287px;
      color: $secondary-title-1;
      font-family: $font-titles;
      font-size: 35px;
      line-height: 1.7em;
      margin-bottom: 0;
      position: relative;
      text-align: center;
      img {
        width: 57px;
        position: absolute;
        top: 53px;
        left: 112px;
      }
    }
  }
  .extra-info {
    font-size: 12px;
    line-height: 5.8em;
    text-transform: uppercase;
  }
}

@import 'responsive-lg';
@import 'responsive-md';
@import 'responsive-sm';
@import 'responsive-xs';