// Create variables with the colors

@import 'mixins';
@import 'fonts';
@import 'colours'; 


/****************************************************/
/*                  Main Menu                       */
/****************************************************/ 
#top-navbar {
  @include transparent-background-color(#000, 0, 0, 0, 0.7);
  border: none;
  margin: 0;
  text-align: center;

  .nav.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
    li {
      height: 125px;
      display: inline-block;
      float: none;
      font-size: 16px;
      font-weight: bold;
      line-height: 125px;
      margin: 0 24px;
      a,
      a:link,
      a:visited {
        color: #FFF;
        cursor: pointer;
        display: inline-block;
        padding: 0;
        text-transform: uppercase;
      }
      a:hover,
      a:active,
      a:focus {
        @include transparent-color(#FFF, 255, 255, 255, 0.7);
      }
    }
    li.selected {
      border-top: 4px solid #FFF;
    }
  }

  .navbar-text {
    width: 261px;
    height: 57px;
    border: 6px solid #FFF;
    border-style: solid solid none solid;
    cursor: default;
    color: #FFF;
    display: inline-block;
    font-family: $font-titles;
    font-size: 21px;
    float: none;
    margin: 0 24px;
    padding: 8px;
    position: relative;
    top: 3px;
    text-transform: uppercase;

    .border-bottom-left,
    .border-bottom-right {
      width: 75px;
      height: 6px;
      background-color: #FFF;
      display: block;
      position: absolute;
      top: 51px;
    }

    .border-bottom-left {      
      left: -6px;
    }

    .border-bottom-right {
      right: -6px;
    }

  }
}

/****************************************************/
/*                   Homepage                       */
/****************************************************/ 

// Header Jumbotron
#main-banner {
  height: 1100;
  background: transparent url('../img/yuri-baptista-jumbotron-2.jpg') no-repeat 0 -38px;
  background-size: 100% auto;
  padding-top: 336px;

  .heading {
    color: #FFF;
    font-family: $font-titles;    
    text-align: center;    
  }

  h1 {
    font-size: 111px;
    text-shadow: 1px 1px 2px #000000;
    text-transform: uppercase;
  }

  h2 {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 2px 2px #000000;
  }
}
