@import 'mixins';

@media (max-width: 767px){

  /****************************************************/
  /*                  Main Menu                       */
  /****************************************************/ 
  #top-navbar {
    max-height: none;
    @include transparent-background-color(#000, 0, 0, 0, 0.6);
    .navbar-text {
      width: 108px;
      height: 27px;
      border-width: 3px;
      font-size: 11px;
      line-height: 1em;
      padding: 5px 6px;
      margin: 0;
      top: 9px;
      left: 6px;
      img {
        width: 27px;
        left: 38px;
        top: 18px;
      }

      .border-bottom-left,
      .border-bottom-right {
        width: 33px;
        height: 3px;
        top: 24px;
      }

      .border-bottom-left {
        left: -3px;
      }

      .border-bottom-right {
        right: -3px;
      }
    }
    .navbar-wrap {
      text-align: left;
      .nav.navbar-nav {
        height: auto;
        display: block;
        margin: 7.5px -15px;
        li {
          min-width: 0;
          max-width: none;
          height: auto;
          display: block;
          float: none;
          font-size: 12px;
          font-weight: bold;
          line-height: 1em;
          margin: 0;
          position: relative;
          a,
          a:link,
          a:visited {
            display: block;
            padding: 9px 12px;
          }
        }
        li.services {
          margin: 0;
        }
        li.portfolio {
          margin: 0;
        }
        li.bullet:after {
          content: "";
        }
      }
    }
  }


  /****************************************************/
  /*                   Homepage                       */
  /****************************************************/ 

  // Header Jumbotron
  #main-banner {
    height: 251px;
    background: transparent url('../img/yuri-baptista-jumbotron-1.jpg') no-repeat 0 0;
    background-size: 100% auto;
    margin-bottom: 0;
    padding-top: 146px;
    padding-bottom: 0;

    h1 {
      font-size: 39px;
      margin-bottom: 9px;
    }

    hr {
      margin: 0 0 9px 0;
    }

    hr:after {
      content: ".............................";
      font-size: 18px;
      letter-spacing: 4px;
      
    }

    h2 {
      font-size: 18px;
    }
  }

  // About Me
  #about-me{
    height: auto;
    max-height: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    padding-top: 15px;
    padding-bottom: 15px;
    .row {
      height: auto;
      max-height: none;
      aside {
        height: auto;
        background: none;
        img {
          width: 100%;
          height: auto;
          position: initial;
        }
      }
      article {
        padding-top: 15px;
        padding-top: 15px;
        header {
          margin: 0 0 12px 0;
          h3 {
            font-size: 36px;
            margin: 0 0 12px 0;         
            text-align: center;
          }
          p {
            font-size: 15px;
          }
          p:before,
          p:after {
            font-size: 15px;
          }
          p:before {
            margin-bottom: 6px;
          }
          p:after {
            margin-top: 6px;
          }
        }
      }
    }
  }

  // Services
  #services {
    height: auto;
    max-height: none;
    margin-bottom: 90px;
    .row {
      article {
        
        background-size: 519.8%;
        margin: 0 0 30px 0;
        .box-shadow-small {
          min-height: 503px;
          header {
            margin: 0 0 51px 0;
            img {
              height: auto;
              margin: 0 0 36px 0;
            }
          }
        }
      }
      .makeup {
        background-color: #53963E;
        background-position: 24.14% 32.5%;
      }
      .hairdo {
        background-position: 49.97% 32.5%;
      }
      .workshops {
        background-position: 75.75% 32.5%;
      }
    }
  }

  // Contact
  #contact {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    form {
      .row {
        fieldset {
          .form-control {
            height: 51px;
            font-size: 15px;
          }
          textarea.form-control {
            height: 150px;
            font-size: 15px; 
          }
        }
      }      
    }
  }

  /****************************************************/
  /*                  Portfolio                       */
  /****************************************************/ 
  #portfolio-body {
    #top-navbar {
      margin-bottom: 15px;
    }

    #decorative-header {
      height: 66px;
      background: none;
    }

    #section-header {
      height: 66px;
      h1 {
        height: 100%;
        font-size: 33px;
        line-height: 2em;
        margin: 0;
      }
      .decoration {
        display: none;
      }
    }

    #portfolio {
      padding: 15px 0;
      div.row {
        margin: 0 auto;
        div.portfolio-list {
          a {
            height: auto;
            img {
              height: 125px;
            }        
          }
          a.landscape {
            width: 48%;
            flex-grow: 2;
          }
          a.portrait {
            width: 24%;
            flex-grow: 1;
          }
        }
      }
    }

    #lean_content_picture {
      img {

      }
      p {
        font-size: 11px;
        padding: 6px;
      }
      .close-modal {
      }
    }

    #lean_content_picture.portrait {
      width: 96%;
    }

    #lean_content_picture.landscape {
      width: 96%;
    }

    #lean_content_picture.square {
      width: 96%;
    }

    #lean_content_picture.large {
      width: 96%;
    }
  }

  /****************************************************/
  /*                    Footer                        */
  /****************************************************/
  #page-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    aside.signature {
      margin-bottom: 25px;
    }
    .extra-info {
      line-height: 4em
    }

  }  
}

/*******************************************************/
/*                Fine Tuning By Device                */
/*******************************************************/

// iPhone 5 portrait
@media (max-width: 320px) {
  #services {
    .row {
      article{
        background-size: 519.8%;
        .box-shadow-small {
          min-height: 419px;
          header {
            img {
              margin: 0 0 30px 0;
            }
            h3 {
              font-size: 27px;
            }
          }
          p {
            font-size: 15px;
          }
        }
      }
      .makeup {
        background-position: 24.14% 32.5%;
      }
    }
  }
}

// Galaxy S5 portrait
@media (min-width: 360px) and (max-width: 360px) {
}

// iPhone 6 portrait
@media (min-width: 375px) and (max-width: 375px) {
}

// Nexus 5X, Nexus 6P portrait
@media (min-width: 412px) and (max-width: 412px) {
}

//iPhone 6 Plus portrait
@media (min-width: 414px) and (max-width: 414px) {
}